<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="username"><br>
        <input type="password" name="passwd" placeholder="password"><br>
        <input type="submit" value="prijava">
    </form>
    <p><a href="/">Registracija</a></p>
<body>
    
</body>
</html>