<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opomnik</title>
</head>
<body>
        <h1 style="text-align:center;font-size:400%">Opomnik</h1>

        <form action="dodaj" method="POST">
            {% csrf_token %}
            <input type="text" name="nova_objava" placeholder="dodaj opomnik">
            <input type="submit" value="Dodaj">
        </form>
        <form action="deleted">
            <input type="submit" value="Izbrisani">
        </form>
        <form action="delete_all">
            <input type="submit" value="Izbrisi vse">
        </form>
        <form action="delete" method="POST">
            {% csrf_token %}
            <input type="submit" value="Izbrisi"><br><br>
            <div class="objave1">
            <ul id="objave_list">
            {% for objava in objave %}
                <input type="checkbox" id="{{ objava.id }}_" name="{{ objava.id }}" value="{{ objava.id }}">
                <li id="{{ objava.id }}" name="objava_{{ objava.id }}">{{objava.tekst}}</li>
            {% endfor %}
            </ul>
            </div>
        </form>
        
        {% csrf_token %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript">
            
            //jquery ajax call za posodobit objavo
            $(function(){
                $(".objave1").on('click','li',function(){
                    var new_value = prompt("nova objava");
                    var id_ = $(this).attr('id');
                    console.log(id_);
                    $("#"+id_).text(new_value);
                    $.post("edit", {
                        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                        id_objave:id_,
                        new_post:new_value
                    }, function(data,status){
                        //$("#test").html(data);
                        console.log("success");
                    });
                });
            });
            $(function(){
                
            });
            $(function worker(){
                // don't cache ajax or content won't be fresh
                $.ajaxSetup ({
                    cache: false,
                    complete: function() {
                        setTimeout(worker,10000); //vsakih 10 sekund klici funkcijo, ki naredi ajax call
                    }
                        
                });

                //GET response pa poglej, ce je kakasna objava spremenjena/zbrisana/dodana
                var response = '';
                $.ajax({ type: "GET",   
                        url: "ajax_update_posts",   
                        async: false,
                        success : function(text)
                        {
                        response = text;
                        
                    }
                });
                console.log("odziv: "+response);
                st_objav_server = response.split("&").length
                if(st_objav_server==1&&response.split("&")[0]==""){
                    st_objav_server=0;
                }
                st_objav_stran = $('ul#objave_list li').length;
                console.log("server: "+st_objav_server+" stran: "+st_objav_stran);
                objave_split = response.split("&");
                objave_id_split = response.split("&");
                objave_id_split_backup = objave_id_split;
                console.log("izpisujem");
                for(var i=0;i<objave_split.length;i++){
                    objave_split[i]=objave_split[i].substring(0,objave_split[i].indexOf(":"));
                    objave_id_split[i]=objave_id_split[i].substring(objave_id_split[i].indexOf(":")+1);
                    console.log(objave_split[i]);
                    console.log(objave_id_split[i]);
                }
                $('#objave_list li').each(function(i, li) {
                    var product = $(li);
                    var product_id = product.attr("id");
                    console.log("objava---"+product_id);
                    // poglej najprej, vse objave na strani, ce katere ni na serverju jo odstrani
                    var izbrisi = true;
                    for(var i=0; i<objave_id_split.length;i++){
                        if(objave_id_split[i]==product_id){
                            izbrisi=false;
                            //ce jo najdes jo oznaci, da je kasneje ne dodas pa poglej se, ce je isti tekst
                            if(product.text()!=objave_split[i]){
                                product.text(objave_split[i]);
                            }
                            objave_id_split[i]="x";
                            break;
                        }
                    }
                    if(izbrisi){
                        console.log("izbrisi objavo "+product_id);
                        $("#"+product_id+"_").remove();
                        product.remove();
                    }
                    else{
                        console.log("ne izbrisi objave: "+product_id);
                    }

                  });
                  console.log("stanje po preverjanju")
                    for(var i=0;i<objave_id_split.length;i++){
                        console.log(objave_split[i]+":"+objave_id_split[i]);
                    }
                    console.log("konec stanja po preverjanu");
                    //dodaj se vse preostale objave, ki so na serverju
                    for(var i=0;i<objave_split.length;i++){
                        if(objave_id_split[i]!="x"&&objave_id_split[i]!=""){
                            var np = '<li id="'+objave_id_split[i]+'" name="objava_'+objave_id_split[i]+'">'+objave_split[i]+'</li>';
                            var nc = '<input type="checkbox" id="'+objave_id_split[i]+'_" name="'+objave_id_split_backup[i]+'" value="'+objave_id_split[i]+'">';
                            //console.log("NEW CHECKBOX: "+nc);
                            //console.log("objava za dodat: "+np);
                            $("ul").append(nc);
                            $("ul").append(np);
                        }
                    }
            });
        </script>
</body>
</html>